h1 {
    font-size: 50px;
    text-align: center;
    font-family: Bernard MT Condensed;
    background-color: #009DFF;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    margin: auto;
}

h2 {
    font-family: verdana;
    color: white;
}

h4 {
    font-family: verdana;
    color: #009DFF;
}

h6 {
    font-family: verdana;
    color: white;
    text-align: center;
}

body{
    background-color: black;
    padding: 20px;
}

td.movie{
    border-radius: 20px 20px 20px 20px;
    border: 1px solid white;
    background-color: #575555;
}

div.gallery {
    float: left;
    width: 10%;
    padding: 2%;
}

div.gallery img:hover {
    border: 1px solid #009DFF;
}

div.gallery img {
    width: 100%;
    border: 1px solid black;
}

div.tituloPelicula {
    color: #009DFF;
    font-family: verdana;
    font-weight: bold;
    font-size: 22px;
}

button.opcionPelicula{
    background-color: black;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    color: white;
    padding: 10px;
    margin-right: 10px;
}

button.opcionPelicula:hover {
    border: 1px solid #009DFF;
}

div.movie-detail {
    padding: 20px;
}

div.movie-information {
    float: left;
    width: 80%;
}

p.description {
    color: white;
    font-family: Arial;
    text-align: justify;
}

p.datosPelicula {
    color: rgba(255, 255, 255, 0.74);
    font-family: Arial;
}

p.datosContacto {
    color: rgba(255, 255, 255, 0.74);
    font-family: Arial;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #000000;
    background-color: #000000;
    width: 100%;
    text-align: center;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #009DFF;
    outline: none;
    cursor: pointer;
    padding: 7px 15px;
    margin-right: 10px;
    transition: 0.3s;
    color: #FFFFFF;
    border-radius: 5px 5px 5px 5px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #009DFF;
    color: #FFFFFF;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #009DFF;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #009DFF;
    border-top: none;
}

input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

button.busquedaButton{
    width: 15%;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    color: white;
    padding: 10px;
    margin-left: 3%;
    font-family: Arial;
}

tr.calification{
    color: rgba(255, 255, 255, 0.74);
    font-family: Arial;
}