<h1>Movies</h1>

<br>

<div class="tab">
{{#link-to 'discover-movies' class="button"}}
   <button class="tablinks">Películas</button>
{{/link-to}}
{{#link-to 'discover-tv' class="button"}}
    <button class="tablinks">TV</button>
{{/link-to}}
{{#link-to 'library' class="button"}}
    <button class="tablinks">Biblioteca</button>
{{/link-to}}
</div>

{{outlet}}