<h1>Movies</h1>

<br>

<div class="tab">
{{#link-to 'discover-movies' class="button"}}
   <button class="tablinks">Las más visitadas</button>
{{/link-to}}
{{#link-to 'library' class="button"}}
    <button class="tablinks">Búsqueda</button>
{{/link-to}}
{{#link-to 'library' class="button"}}
    <button class="tablinks">Mi Biblioteca</button>
{{/link-to}}
</div>
{{outlet}}