<h2>Cines</h2>

<table>
    {{#each model as |Cine index|}}
     <tr>
        <td>{{cinema-view title=Cine.title address=Cine.address postalCode=Cine.postalCode city=Cine.city country=Cine.country}}</td>
     </tr>
     {{/each}}
</table>