<h2>Explora estas películas...</h2>

<div class="formBusqueda">
    {{input value=busqueda}}

    <a {{action 'buscar' busqueda}}>
        <button class="busquedaButton">Buscar</button>
    </a>
    <br>
</div>

<table>
    {{#each movies as |Peliculas index|}}
     <tr>
        <td class= "movie">{{movie-view title=Peliculas.Title imagen=Peliculas.Poster description=Peliculas.Plot rating=Peliculas.Rated date=Peliculas.Released duration=Peliculas.Runtime country=Peliculas.Genre director=Peliculas.Director trailer=Peliculas.trailer valoracion=Peliculas.imdbRating ratings=Peliculas.Ratings}}</td>
     </tr>
     <br>
     {{/each}}
</table>